*{
	margin: 0;
	padding: 0;
}
#basketTable {
	width: 1051px;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid red;
	text-align: center;	
}
.fl{
	float: left;
}
.fr{
	float: right;
}
#basketTable th,#basketTable td{
	border: 1px solid #F90;
}
#basketTable th{
	background: #FFCC99;
	border-top: 6px solid #F63;
	height: 30px;
}
#basketTable td{
	padding: 10px;
	color: #444;
}
tbody tr:hover{
	background: #FFFFDE;
}
tbody tr.on{
	background: #FFFFDE;
}
#basketTable .check-box{
	width: 50px;
}
.goods{
	width: 300px;
}
.goods span{
	/*width: 180px;*/
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	float: left;
}
.goods img{
	width:70px;
	height:50px;
	margin-right:25px;
	margin-left: 25px;
	float: left;
}
.price{
	width: 130px;
	font-size: 14px;
}
td.count{
	width: 80px;
}
.count .add,.count .count-input,.count .reduce{
	float: left;
	margin: 0px;
	position: relative;
	z-index: 0;
}
.count .add,.count .reduce{
	height: 23px;
	width: 17px;
	border: 1px solid #E5E5E5;
	background: #F0F0F0;
	text-align: center;
	line-height: 23px;
	color: #444;
}
.count .add:hover,.count .reduce:hover{
	color:#8852C2;
	z-index: 3;
	border-color: #F90;
	cursor: pointer;
}
.count .count-input{
	width: 50px;
	height: 15px;
	line-height: 15px;
	border: 1px solid #F90;
	color: #343434;
	text-align: center;
	padding: 4px 0;
	background-color: #FFF;
	z-index: 2;
}
.sub-total{
	width: 150px;
	font-size: 14px;
	font-weight: bold;
}
.operation {
    width: 80px;
    font-size: 14px;
	font-weight: bold;
}
.operation span:hover, a:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}
.foot img {
    width: 70px;
    height: 50px;
    /*border: 1px solid #ccc;*/
    margin-right: 10px;
    float: left;
}

.foot {
    width: 1050px;
    margin-top: 10px;
    color: #666;
    height: 46px;
    border: 1px solid #F90;
    background-color: #FFCC99;
    position: relative;
    z-index: 8;
}
.foot div, .foot a {
    line-height: 46px;
    height: 46px;
}
.foot .selectAll {
    width: 70px;
    height: 46px;
    line-height: 46px;
    padding-left: 25px;
    color: #666;
}
.foot .costing {
    border-left: 1px solid #F90;
    width: 116px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    background: #FFCC99;
    cursor: pointer;
}
.foot .total{
    margin: 0 20px;
    cursor: pointer;
}
.foot  #priceTotal, .foot #selectTotal {
    color: #F00;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.foot .selected {
    cursor: pointer;
}
.foot .selected .arrow {
    position: relative;
    top:-3px;
    margin-left: 3px;
}
.foot .selected .down {
    position: relative;
    top:3px;
    display: none;
}
 .show .selected .down {
    display: inline;
}
 .show .selected .up {
    display: none;
}
.foot .selected:hover .arrow {
    color: red;
}
.foot .selected-view {
    width: 1049px;
    border: 1px solid #C8C8C8;
    position: absolute;
    height: auto;
    background: #FFFFFF;
    z-index: 9;
    bottom: 46px;
    left: -1px;
    display:none;
}
.show .selected-view {
    display: block;
}
.foot .selected-view div{
    height: auto;
}
.foot .selected-view .arrow {
    font-size: 16px;
    line-height: 100%;
    color:#C8C8C8;
    position: absolute;
    right: 330px;
    bottom: -8px;
}
.foot .selected-view .arrow span {
    color: #FFFFFF;
    position: absolute;
    left: 0px;
    bottom: 1px;
}
#selectedViewList {
    padding: 10px;
    margin-bottom: -10px;
}
#selectedViewList div{
    display: inline-block;
    position: relative;
    width: 70px;
    height: 50px;
    border: 1px solid #ccc;
    margin: 8px 10px 15px 10px;
    /*margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;*/
}
#selectedViewList div span {
    display: none;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    background: RGBA(0,0,0,.5);
    cursor: pointer;
}
#selectedViewList div:hover span {
    display: block;
}

