<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>菜小兜</title>
<link href="css/index.css" rel="stylesheet" type="text/css" /> <!--自己动手编写的css-->
</head>
<body>

<meta charset="utf-8" />
<div class="footer"> <!--页尾footer开始-->
    	<div class="footer_up">
        	<hr />
        	<img src="images/footer_up1.png" />
        </div>
        <div class="footer_down">
        	<h3>版权所有 © 菜小兜 2015 All Rights Reserved 京ICP备14009300
				<br />技术支持 弄潮少年团队</h3>
        </div>
    </div>  <!--footer结束-->
</body>
</html>

